<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.welcome.dao.SchoolNewsDao">

	<select id="get" resultType="com.bootdo.welcome.domain.SchoolNewsDO">
		select `id`,`title`,`content`,`createtime`,`browse_number` from ed_school_news where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.welcome.domain.SchoolNewsDO">
		select `id`,`title`,`content`,`createtime`,`browse_number`,`status` from ed_school_news
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="content != null and content != ''"> and content = #{content} </if>
		  		  <if test="createtime != null and createtime != ''"> and createtime = #{createtime} </if>
		  		  <if test="browseNumber != null and browseNumber != ''"> and browse_number = #{browseNumber} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ed_school_news
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="content != null and content != ''"> and content = #{content} </if>
		  		  <if test="createtime != null and createtime != ''"> and createtime = #{createtime} </if>
		  		  <if test="browseNumber != null and browseNumber != ''"> and browse_number = #{browseNumber} </if>
			      <if test="status != null and browseNumber != ''"> and browse_number = #{browseNumber} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.welcome.domain.SchoolNewsDO" useGeneratedKeys="true" keyProperty="id">
		insert into ed_school_news
		(
			`title`, 
			`content`, 
			`createtime`, 
			`browse_number`,
			`status`
		)
		values
		(
			#{title}, 
			#{content}, 
			#{createtime}, 
			#{browseNumber},
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.welcome.domain.SchoolNewsDO">
		update ed_school_news 
		<set>
			<if test="title != null">`title` = #{title}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="createtime != null">`createtime` = #{createtime}, </if>
			<if test="browseNumber != null">`browse_number` = #{browseNumber}</if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from ed_school_news where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ed_school_news where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>